name: Test Secrets

on:
  push:

  pull_request_target:
    types: [labeled, opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

jobs:
  get-secrets:
    runs-on: ubuntu-latest
    steps:
    - name: Wait for the labeler
      uses: lewagon/wait-on-check-action@v1.2.0
      if: github.event_name == 'pull_request'
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        check-name: Team Label
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        wait-interval: 30
    - name: Verify PR labels
      uses: jesusvasquez333/verify-pr-label-action@v1.4.0
      if: github.event_name == 'pull_request'
      with:
        github-token: '${{ secrets.GITHUB_TOKEN }}'
        valid-labels: 'safe to test'
        pull-request-number: '${{ github.event.pull_request.number }}'
        disable-reviews: true  # To not autoapprove changes
    #- name: Validate PR
    #  if: contains(github.event.pull_request.labels.*.name, 'safe to test')
    #  run: echo "This PR is safe!"
    #- name: Raise on invalid PR
    #  if: ${{ !contains(github.event.pull_request.labels.*.name, 'safe to test') }}
    #  run: |
    #    echo "This PR is not safe to test. Exiting."
    #    exit 1

    - name: Checkout
      uses: actions/checkout@v2
    - name: Get Secret
      run: |
        echo "showing my secrets"
        echo "${MY_SECRET:-not here}"
      env:
        MY_SECRET: ${{ secrets.MY_SECRET }}
